@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  margin: 0 4rem 0;
}

.menu {
  margin-top: 5px;
  margin-left: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1025px) {
  .layout {
    margin: 0;
  }
}
